header {
  width: 100%;
  background: linear-gradient(0, #000000, #000000);
  padding: 10px 20px;
}

.correcao {
  display: flex;
  justify-content: space-between;
  align-items: center
}

header img {
  height: 50px;
}


.gira {
  animation: girando 5s linear infinite;
}


@keyframes girando {
  from{
    transform: rotate(0);
    
  }

  to {
    transform: rotate(360deg);
    
  }
}

.lista-menu-topo {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.menu-topo {
  padding-right: 25px;
}

.lista-menu-topo li {
  margin-left: 18px;
  color: #fff8e9;
  position: relative;
  padding-bottom: 1px;
  cursor: pointer;
}

.lista-menu-topo li::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0px;
  height: 2px;
  background-color: #497c9d;
  transition: width 0.3s ease-in-out;
}

.lista-menu-topo li:hover::before {
  width: 100%;
}

@media (max-width: 768px) {
  .correcao {
    display: flex;
    flex-direction: column;
  }

  header{
    padding: 10px 5px 10px 5px;
    height: auto;
  }

  .correcao img {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .menu-topo {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 768px;
  }

.lista-menu-topo {
  padding: 2px 5px 2px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:  center ;
  font-size: 15px;
  flex-grow: 1;
}
}


@media (max-width: 368px) {


 


  .menu-topo {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
  }

.lista-menu-topo {
  padding: 2px 5px 2px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:  center ;
  font-size: 15px;
  flex-grow: 1;
}

.lista-menu-topo li {
  width: 33%;
  text-align: center;
  padding-top: 5px;
}


.lista-menu-topo li:hover::before {
  width: 0%;
}
}