header {
  width: 100%;
  background: linear-gradient(0, #000000, #000000);
  padding: 10px 20px;
}

.correcao {
  display: flex;
  justify-content: space-between;
  align-items: center
}

header img {
  height: 50px;
}


.gira {
  animation: girando 5s linear infinite;
}


@keyframes girando {
  from{
    transform: rotate(0);
    
  }

  to {
    transform: rotate(360deg);
    
  }
}

.lista-menu-topo {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.menu-topo {
  padding-right: 25px;
}

.lista-menu-topo li {
  margin-left: 18px;
  color: #fff8e9;
  position: relative;
  padding-bottom: 1px;
  cursor: pointer;
}

.lista-menu-topo li::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0px;
  height: 2px;
  background-color: #497c9d;
  transition: width 0.3s ease-in-out;
}

.lista-menu-topo li:hover::before {
  width: 100%;
}
