header {
  width: 100%;
  background: linear-gradient(0, #000000, #000000);
  padding: 10px 20px;
  position: fixed;
  z-index: 1;
  height: auto;
}

.correcao {
  display: flex;
  justify-content: space-between;
  align-items: center
}

header img {
  height: 50px;
}

a:active, a, a:visited, Link:visited, Link:active, li a:visited, li a:active, nav:visited {
  text-decoration: inherit;
  color: inherit;
}

.gira {
  animation: girando 5s linear infinite;
}

@keyframes girando {
  from{
    transform: rotate(0);
    
  }

  to {
    transform: rotate(360deg);
    
  }
}

.lista-menu-topo {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.menu-topo {
  padding-right: 25px;
}

.lista-menu-topo li {
  margin-left: 18px;
  color: #fff8e9;
  position: relative;
  padding-bottom: 1px;
  cursor: pointer;
  max-width: fit-content;
}

.btn-mobile{
  display: none;
}

.lista-menu-topo li::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0px;
  height: 2px;
  background-color: #497c9d;
  transition: width 0.3s ease-in-out;
}

.lista-menu-topo li:hover::before {
  width: 100%;

}

@media (max-width: 768px) {

  .btn-mobile {
    display: flex;
    padding: 8px 15px;
    border:none;
    background: none;
    cursor: pointer;
  }

  #hamburguer {
    width: 30px;
    border-top: 2px solid;
    color: azure;
    transition: .5s;
    
  }

  .menu-topo#menu-aberto #hamburguer {
    border-top-color: transparent;
    

  }

  .menu-topo#menu-aberto #hamburguer::after {
    transform: rotate(50deg);
    top: -7px;
    
  }

  .menu-topo#menu-aberto #hamburguer::before {
    content: '';
    transform: rotate(-50deg);
  }

  #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    margin-top: 5px;
    background: currentColor;
    position: relative;
    transition: .8s;
  }
  


  .lista-menu-topo {
    display: block;
    width:150px;
    height: 0px;
    position: absolute;
    top:70px;
    right: 0;
    left:0;
    background-color:#000000;
    transition: .6s;
    visibility: hidden;
    overflow-y:hidden;
  }

  header{
    height: 70px;
  }

  .menu-topo#menu-aberto .lista-menu-topo {
    height: 230px; 
    visibility: visible;
    
    }

    .lista-menu-topo li {
      padding-top: 10px;
      margin-bottom: 8px
    }

}

